<form #infosUser="ngForm" (ngSubmit)="modifMdp(infosUser.value)">
    <div class="card p-3">
        <div class="md-form">
            <label>Ancien mot de passe</label>
            <input name="passwordUser" type="password" class="form-control">
            <!--     <div *ngIf="ancien != authService.getUserConnect().passwordUser">
                <p> Le mot de passe ne correspond pas !</p>
            </div>-->
        </div>
        <div class="md-form">
            <label>Nouveau mot de passe</label>
            <input name="passwordUser" ngModel="" type="password" class="form-control">
        </div>
        <div mat-dialog-actions>
            <button (click)="goToProfil()" type=" submit" class="btn btnPrincipal btn-block btn-sm">Registry</button>
        </div>
    </div>
</form>