<div class="container-fluid">
    <div class="row">
        <div id="gauche" class="col-3 p-4">
            <p>youhou</p>
            <p>youhou</p>
            <p>youhou</p>
            <p>youhou</p>

        </div>
        <div id="centre" class="col-6 p-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ab, blanditiis officiis deserunt odio
                recusandae eius sapiente, ratione omnis nemo dolore quidem deleniti cupiditate placeat minima vitae
                praesentium sequi perferendis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eligendi in
                laboriosam natus! Tenetur similique soluta dolorum nisi ex nulla amet aliquid alias repellendus. Minus
                nisi laboriosam totam architecto vel?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, a.
                Voluptatibus molestias amet natus libero vero dignissimos facilis totam beatae earum impedit dolores
                expedita sint, architecto consequatur, fuga qui nostrum!Lorem</p>
        </div>


        <div id="droite" class="col-3 p-4">

            <!-- card gobale des demandes d'amis-->
            <div class="card p-3 m-2">
                <p class="text-center">Demandes d'amis</p>
                <!-- card demande d'un ami-->
                <div class="card p-1 m-1">

                    <div class="container">

                        <div class="row">
                            <!-- photo de profil -->
                            <div class="col-3">
                                <img class="photo_profil image-rond image-rond-bg"
                                    src="https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"
                                    alt="">
                            </div>
                            <!-- nom user -->
                            <div class="col-6">
                                <p id="add_friend_username">User name</p>
                            </div>

                            <!-- bouton add -->
                            <div class="col-3">
                                <button type="submit" class="btn btn-secondary btn-block btn-sm">Add</button>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- card demande d'un ami-->
                <div class="card p-1 m-1">

                    <div class="container">

                        <div class="row">
                            <!-- photo de profil -->
                            <div class="col-3">
                                <img class="photo_profil image-rond image-rond-bg"
                                    src="https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"
                                    alt="">
                            </div>
                            <!-- nom user -->
                            <div class="col-6">
                                <p id="add_friend_username">User name</p>
                            </div>

                            <!-- bouton add -->
                            <div class="col-3">
                                <button type="submit" class="btn btn-secondary btn-block btn-sm">Add</button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- card ajouter et rechercher un ami -->
            <div class="card p-3 m-2">


                <p class="text-center">Ajouter un ami</p>
                <!-- card demande d'un ami-->
                <div class="card p-1 m-1">

                    <div class="container">

                        <div class="row">
                            <!-- photo de profil -->
                            <div class="col-3">
                                <img class="photo_profil image-rond image-rond-bg"
                                    src="https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"
                                    alt="">
                            </div>
                            <!-- nom user -->
                            <div class="col-6">
                                <p id="add_friend_username">User name</p>
                            </div>

                            <!-- bouton add -->
                            <div class="col-3">
                                <button type="submit" class="btn btn-secondary btn-block btn-sm">Add</button>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- card demande d'un ami-->
                <div class="card p-1 m-1">

                    <div class="container">

                        <div class="row">
                            <!-- photo de profil -->
                            <div class="col-3">
                                <img class="photo_profil image-rond image-rond-bg"
                                    src="https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"
                                    alt="">
                            </div>
                            <!-- nom user -->
                            <div class="col-6">
                                <p id="add_friend_username">User name</p>
                            </div>

                            <!-- bouton add -->
                            <div class="col-3">
                                <button type="submit" class="btn btn-secondary btn-block btn-sm">Add</button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>