<div class="container-fluid">
    <div class="row">
        <div id="gauche" class="col-3 p-4">
            <!-- zone d'affichage des amis et des conversations-->
            <div id="card_principal_amis" class="card p-3" [class.toggled]="classToggled">
                <div class="card-header" style="margin: 5px; border-radius: 15px;">
                    <p class="text-center">Discutez avec un ami</p>
                </div>
                <!--Search bar : centrée, avec bouton "search" à droite-->

                <div class="container" [class.toggled]="classToggled">
                    <div id="content">
                        <form #infosFriend="ngForm" (ngSubmit)="FilterFriend(FriendS.value)">
                            <div class="input-group">
                                <input ngModel="" #FriendS name="FriendS" type='text' id='search'
                                    class="form-control search-form" placeholder="Rechercher...">
                                <span class="input-group-btn" style="width:30px">
                                    <button [class.toggled]="classToggled" id="search-this " type="button"
                                        class="pull-right btn search-btn" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>


                <!-- card demande d'un ami-->
                <div class="anyClass">
                    <div class="card p-1 m-1" *ngFor="let f of friends" [class.toggled]="classToggled">
                        <div class="container">

                            <div class="row">
                                <!-- photo de profil -->
                                <div class="col-5">
                                    <img src="{{f.imageUser.nameImage}}">
                                </div>
                                <!-- nom user -->
                                <div class="col-7">
                                    <b id="add_friend_username"> {{f.loginUser}}</b>

                                    <div class="row">


                                    </div>
                                    <button (click)="getLogin(f)" type="submit" class="button-30"
                                        style="font-size: 60%;">Afficher la
                                        conversation <i class="fas fa-eye" style="color: rgb(0, 0, 0);"></i>
                                    </button>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>

                <div class="card-header" style="margin: 5px; border-radius: 15px;">
                    <p class="text-center">Discutez avec votre équipe</p>
                </div>
                <div class="container" [class.toggled]="classToggled">
                    <div id="content">
                        <form class='form-inline'>
                            <div class="input-group">
                                <input type='text' id='search' class="form-control search-form"
                                    placeholder="Rechercher...">
                                <span class="input-group-btn" style="width:39px">
                                    <button id="search-this" type="button" class="pull-right btn search-btn">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>


                <!-- card demande d'un ami-->
                <div class="anyClass">
                    <div class="card p-2 m-2" *ngFor="let t of team" [class.toggled]="classToggled">
                        <div class="container">

                            <div class="row">
                                <!-- photo de profil -->
                                <div class="col-5">
                                    <img class="teamImage" src="{{t.imageTeam.nameImage}}">

                                </div>
                                <!-- nom user -->
                                <div class="col-7">
                                    <b id="add_friend_username"> {{t.title}}</b>

                                    <div class="row">

                                    </div>
                                    <button (click)="getLogin2(t)" type="submit" class="button-30"
                                        style="font-size: 60%;">Afficher la
                                        conversation <i class="fas fa-eye" style="color: rgb(0, 0, 0);"></i>
                                    </button>


                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div id="centre" class="col-6 p-4">
            <div *ngIf="!visibleMessage && !visibleTeam">
                <!-- zone d'affichage des messages-->
                <div id="card_empty_messages" class="card p-4" [class.toggled]="classToggled">
                    <p style="text-align: center;">Veuillez selectionner une conversation !</p>
                </div>
            </div>


            <div *ngIf="visibleMessage">
                <!-- zone d'affichage des messages-->
                <div id="card_principal_messages" class="card p-3" [class.toggled]="classToggled">
                    <div class="card-header">
                        <div>
                            <p class="text-center ">Discussion avec : <b>{{login?.loginUser}}</b>
                            </p>
                        </div>
                    </div>

                    <div id="conv" class="anyClass" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <div *ngFor="let m of sendmessagesasc" [class.toggled]="classToggled">
                            <div class="container lighter darker"
                                *ngIf="m.destinataire.idUser != authService.getUserConnect().idUser">
                                <img class="right photo_conversation" src="{{userInfo.imageUser.nameImage}}">
                                <b>{{m.message.expediteurMessage.loginUser}} : </b>
                                <p>{{m.message.contentMessage}}</p>
                                <span class="time-right">{{m.message.dateSendMessage |date}}</span>
                            </div>

                            <div class="container lighter "
                                *ngIf="(!(m.destinataire.idUser != authService.getUserConnect().idUser))">
                                <img src="{{login?.imageUser.nameImage}}">
                                <b>{{m.message.expediteurMessage.loginUser}} : </b>
                                <p>{{m.message.contentMessage}}</p>
                                <span class="time-left">{{m.message.dateSendMessage |date}}</span>
                            </div>
                        </div>

                    </div>


                </div>

                <!-- Zone de saisie de messages -->
                <div id="zone_saisie_message" class="card p-1" [class.toggled]="classToggled">
                    <div class="container">
                        <div class="row">
                            <form #mess="ngForm" (ngSubmit)="sendMess(mess)">
                                <div class="col-10" [class.toggled]="classToggled">
                                    <input id="message" [class.toggled]="classToggled" name="message" ngModel=""
                                        type="text" class="form-control" placeholder="..."
                                        style="width: 600px; margin: 5px;">
                                </div>
                                <div class="col-2">
                                    <button type="submit" class="button-30 " style="font-size: 60%;">Envoyer <i
                                            class="fas fa-envelope" style="color: rgb(0, 0, 0);"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="visibleTeam">
                <!-- zone d'affichage des messages-->
                <div id="card_principal_messages" class="card p-3" [class.toggled]="classToggled">
                    <div class="card-header">
                        <div>
                            <p class="text-center ">Discussion avec : <b>{{login4?.title}}</b>
                            </p>
                        </div>
                    </div>

                    <div id="conv" class="anyClass" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                            <div *ngFor="let m of teammessages" [class.toggled]="classToggled">
                                <div class="container lighter darker" *ngIf="(!(m.expediteurMessage.idUser != authService.getUserConnect().idUser))">
                                    <img class="right photo_conversation" src="{{userInfo.imageUser.nameImage}}">
                                    <b>{{m.expediteurMessage.loginUser}} : </b>
                                    <p>{{m.contentMessage}}</p>
                                    <span class="time-left">{{m.dateSendMessage |date}}</span>
                                </div>

                                <div class="container lighter " *ngIf="m.expediteurMessage.idUser != authService.getUserConnect().idUser">
                                <img src="{{m.expediteurMessage.imageUser.nameImage}}">
                                <b>{{m.expediteurMessage.loginUser}} : </b>
                                <p>{{m.contentMessage}}</p>
                                <span class="time-left">{{m.dateSendMessage |date}}</span>
                            </div>

                            </div>

                    </div>


                </div>

                <!-- Zone de saisie de messages -->
                <div id="zone_saisie_message" class="card p-1" [class.toggled]="classToggled">
                    <div class="container">
                        <div class="row">
                            <form #mess="ngForm" (ngSubmit)="sendTeamMess(mess)">
                                <div class="col-10" [class.toggled]="classToggled">
                                    <input id="message" [class.toggled]="classToggled" name="message" ngModel=""
                                        type="text" class="form-control" placeholder="..."
                                        style="width: 600px; margin: 5px;">
                                </div>
                                <div class="col-2">
                                    <button type="submit" class="button-30 " style="font-size: 60%;">Envoyer <i
                                            class="fas fa-envelope" style="color: rgb(0, 0, 0);"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="droite" class="col-3 p-4">

            <!-- card gobale des demandes d'amis-->
            <div id="demande_amis" class="card p-3" [class.toggled]="classToggled">
                <div class="card-header">
                    <p class="text-center">Demandes d'amis</p>
                </div>

                <div class="anyClass">
                    <!-- card demande d'un ami-->
                    <div class="card p-1 m-1" *ngFor="let nf of notfriends" [class.toggled]="classToggled">

                        <div class="container">

                            <div class="row">
                                <!-- photo de profil -->
                                <div class="col-6">

                                    <img src="{{nf.imageUser.nameImage}}">
                                </div>
                                <!-- nom user -->
                                <div class="col-6">
                                    <b id="add_friend_username"> {{nf.loginUser}} </b>
                                    <div class="row">
                                        <div class="col-12">
                                            <button id="btnadd" (click)="acceptFrienship(nf)" type="submit"
                                                class="btn btnPrincipal btn-block button-30" style="font-size: 60%;">
                                                Accepter <i class="fas fa-check" style="color: rgb(0, 0, 0);"></i>
                                            </button>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-12">
                                            <button (click)="deleteFrienship(nf)" id="btnsup" type="submit"
                                                class="btn btn-danger btn-block btn-sm button-30"
                                                style="font-size: 50%;">
                                                Supprimer <i class="fas fa-trash"
                                                    style="color: rgb(255, 255, 255);"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="card p-1 m-1" *ngFor="let d of deletefriend" [class.toggled]="classToggled">

                        <div class="container">

                            <div class="row">
                                <!-- photo de profil -->
                                <div class="col-6">

                                    <img src="{{d.imageUser.nameImage}}">
                                </div>
                                <!-- nom user -->
                                <div class="col-6">
                                    <b id="add_friend_username"> {{d.loginUser}} </b>
                                    <div class="row">

                                        <div class="col-12">
                                            <button (click)="deleteFrienship(d)" id="btnsup" type="submit"
                                                class="btn btn-danger btn-block btn-sm button-30"
                                                style="font-size: 50%;">
                                                Supprimer <i class="fas fa-trash"
                                                    style="color: rgb(255, 255, 255);"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>


            </div>

            <!-- card ajouter et rechercher un ami -->
            <div id="ajout_amis" class="card p-3" [class.toggled]="classToggled">
                <div class="card-header">
                    <p class="text-center">Ajouter un ami</p>
                </div>

                <div class="anyClass">
                    <!-- ajout barre de recherche -->
                    <!--Search bar : centrée, avec bouton "search" à droite-->
                    <div class="container" [class.toggled]="classToggled">
                        <div id="content">
                            <form #infosUsers="ngForm" (ngSubmit)="FilterUser(UserS.value)">
                                <div class="input-group">
                                    <input ngModel="" #UserS name="UserS" type='text' id='search'
                                        class="form-control search-form" placeholder="Rechercher...">
                                    <span class="input-group-btn" style="width:30px">
                                        <button [class.toggled]="classToggled" id="search-this " type="button"
                                            class="pull-right btn search-btn" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <button type="submit" class="btn btnPrincipal btn-block "
                                    style="font-size: 60%;">Sport</button>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btnPrincipal btn-block "
                                    style="font-size: 60%;">Distance</button>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btnPrincipal btn-block "
                                    style="font-size: 60%;">Autre</button>
                            </div>
                        </div>
                    </div>


                    <!-- card demande d'un ami-->

                    <div *ngFor="let u of user" class="card p-1 m-1" [class.toggled]="classToggled">

                        <div class="container">

                            <div class="row">
                                <!-- photo de profil -->
                                <div class="col-6">

                                    <img src="{{u.imageUser.nameImage}}">
                                </div>
                                <!-- nom user photo_profil image-rond image-rond-bg-->

                                <div class="col-6">
                                    <b id="add_friend_username">{{u.loginUser}}</b>

                                    <div class="row">
                                        <div class="col-12">
                                            <button id="btnadd" (click)="addFriend(u)" type="submit"
                                                class="btn btnPrincipal btn-block button-30 " style="font-size: 60%;">
                                                Ajouter <i class="fas fa-check" style="color: rgb(0, 0, 0);"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>


                            </div>



                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>