<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-4 ">
            <div class="p-1 m-1 ">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <div class="container">
                                <form>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <label for="sports">Filtrer par sport:</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="text-center">
                                                <select class="box" ngModel="" required>
                                                    <option *ngFor="let s of sports">{{s.nameSport}}</option>
                                                </select>
                                                <!--<mat-select name="sports" id="sports">
                                                    <mat-option [value]="s" *ngFor="let s of sports">{{s.nameSport}}
                                                    </mat-option>
                                                </mat-select>-->
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="container">
                                <div id="content">
                                    <form class='form-inline'>
                                        <div class="input-group">
                                            <input type='text' id='search' class="form-control search-form"
                                                placeholder="Rechercher...">
                                            <span class="input-group-btn" style="width:39px">
                                                <button id="search-this" type="button"
                                                    class="pull-right btn search-btn">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-right align-self-center">
                            <a mat-raised-button (click)="openNewEventModal()">
                                Creer un nouvel événement!
                                <mat-icon>add</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card row">
                    <div class="col-12 p-4">
                        <div class="card p-1 m-3" *ngFor="let e of events">
                            <div class="container m-1 p-1">
                                <div class="row">
                                    <div class="col-3">
                                        <h2>{{e.sportEvent.nameSport}}</h2>
                                    </div>
                                    <div class="col-9">
                                        <h1 class="title-event">{{e.titleEvent}}</h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <img class="photo_event"
                                            src="https://img.freepik.com/vecteurs-libre/illustration-journee-nationale-du-sport-plat_23-2148991394.jpg?w=740&t=st=1671217592~exp=1671218192~hmac=c3e57d555e6916857e31a8c461d5dca2363a84eb5c158a956ca77acb1acafbe8"
                                            alt="">
                                    </div>
                                    <div class="col-3">
                                        <p>{{e.descriptionEvent}}</p>
                                    </div>
                                    <div class="col-3">

                                        <div class="container">
                                            <div class="row">
                                                <p>Début : {{e.dateStart | date: 'd MMM y H:mm'}}</p>
                                            </div>
                                            <div class="row">
                                                <p>Fin : {{e.dateEnd | date: 'd MMM y H:mm'}}</p>
                                            </div>
                                            <div class="row">
                                                <p>Prix : {{e.priceEvent}} €</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <a mat-raised-button (click)="addEventToUser(e)">
                                            S'inscrire à l'événement
                                            <mat-icon>add</mat-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- backup button add new event
    <div class="col-3 text-right align-self-center">
        <span> Creer un nouvel événement!</span>
    </div>
    <div class="col-1 text-center align-self-center">
         <a mat-mini-fab (click)="openNewEventModal()">
            <mat-icon>add</mat-icon>
         </a>
    </div>
-->