<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-4 ">
            <div class="p-1 m-1 ">
                <div class="container">
                    <div class="card p-3 m-3" [class.toggled]="classToggled">
                        <div class="row">

                            <div class="col-4 ">
                                <div class="container">
                                    <div id="content">
                                        <form class='form-inline'>
                                            <div class="input-group">
                                                <input type='text' id='search' class="form-control search-form"
                                                    placeholder="Rechercher...">
                                                <span class="input-group-btn" style="width:39px">
                                                    <button id="search-this" type="button"
                                                        class="pull-right btn search-btn">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 text-right align-self-center">
                                <a [class.toggled]="classToggled" id="btn_dropdown" mat-raised-button
                                    (click)="openNewEventModal()">
                                    Créer un nouvel événement 
                                    <mat-icon>add</mat-icon>
                                </a>
                            </div>
                            <div class="col-4">
                                <div class="container">
                                    <form>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="text-center">
                                                    <mat-form-field>
                                                        <mat-label>
                                                            Filtrer par sport :
                                                        </mat-label>
                                                        <mat-select class="" name="sportEvent" ngModel="">
                                                            <mat-option>-Effacer la selection-</mat-option>
                                                            <mat-option [value]="s" *ngFor="let s of sports">
                                                                {{s.nameSport}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card row event window" [class.toggled]="classToggled">
                    <div class="col-12 p-4" [class.toggled]="classToggled">
                        <div class="card p-1 m-3" *ngFor="let e of events" [class.toggled]="classToggled">

                            <div class="container m-1 p-1" [class.toggled]="classToggled">
                                <div class="row">
                                    <div class="col-3" [class.toggled]="classToggled">
                                        <h2>{{e.sportEvent.nameSport}}</h2>
                                    </div>
                                    <div class="col-9" [class.toggled]="classToggled">
                                        <h1 class="title-event">{{e.titleEvent}}</h1>
                                    </div>
                                </div>
                                <div class="row" [class.toggled]="classToggled">
                                    <div class="col-4" [class.toggled]="classToggled">
                                        <img class="photo_event" src="{{e.sportEvent.imageSport.nameImage}}" alt="">
                                    </div>
                                    <div class="col-3" [class.toggled]="classToggled">
                                        <p>{{e.descriptionEvent}}</p>
                                    </div>
                                    <div class="col-3" [class.toggled]="classToggled">

                                        <div class="container" [class.toggled]="classToggled">
                                            <div class="row">
                                                <p>Début : {{e.dateStart | date: 'd MMM y H:mm'}}</p>
                                            </div>
                                            <div class="row">
                                                <p>Fin : {{e.dateEnd | date: 'd MMM y H:mm'}}</p>
                                            </div>
                                            <div class="row">
                                                <p>Prix : {{e.priceEvent}} token</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2" *ngIf="!verifUser(e)" [class.toggled]="classToggled">
                                        <a [class.toggled]="classToggled" id="btn_dropdown" mat-raised-button
                                            (click)="addEventToUser(e.idEvent)">
                                            Participer
                                            <mat-icon>add</mat-icon>
                                        </a>
                                    </div>
                                    <div class="col-2" *ngIf="verifUser(e)" [class.toggled]="classToggled">
                                        <a [class.toggled]="classToggled" id="btn_dropdown" mat-raised-button
                                            (click)="removeUserFromEvent(e.idEvent)">
                                            Se désister
                                            <mat-icon>remove</mat-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>