<div class="container-fluid">
    <div class="row">
        <div id="gauche" class="col-3 p-4">
            <div class="card p-3 m-3">
                <div class="card-header">
                    <p class="text-center">{{club.titleClub}}</p>
                </div>
                <div class="mx-auto text-center p-2">
                    <div class="col-12">
                        <img src="{{club.imageClub.nameImage}}" style="width: 100%">
                    </div>
                </div>
            </div>
            <div class="card p-3 m-3">
                <div class="card-header">
                    <p class="text-center">A propos du club</p>
                </div>
                <div>
                    <p>{{club.descriptionClub}}</p>
                </div>
            </div>
        </div>

        <div id="milieu" class="col-6 p-4">
            <div class="card p-3 m-3 vh-100">

            </div>
        </div>
        <div id="droite" class="col-3 p-4">
            <div class="card p-3 m-3 vh-100">
                <div class=card-header>
                    <p class="text-center">Membres du groupe</p>
                </div>
                <div>
                    <div class="container">
                        <div id="content">
                            <form #infosFriend="ngForm">
                                <div class="input-group">
                                    <input ngModel="" #FriendS name="FriendS" type='text' id='search'
                                        class="form-control search-form" placeholder="Rechercher...">
                                    <span class="input-group-btn" style="width:30px">
                                        <button id="search-this " type="button" class="pull-right btn search-btn"
                                            type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- card ami-->
                <div class="anyClass">
                    <div class="card p-1 m-1" *ngFor="let f of myFriends">
                        <div class="container">

                            <div class="row">
                                <!-- photo de profil -->
                                <div class="col-5">
                                    <img src="{{f.imageUser.nameImage}}" style="width: 100%">
                                </div>
                                <!-- nom user -->
                                <div class="col-7">
                                    <b id="add_friend_username"> {{f.loginUser}} <p style="font-style: italic; font-weight: lighter !important;"> <i class="fas fa-circle" style="color: rgb(171, 174, 171); size: 50%;"></i> Hors ligne</p></b>

                                    

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <!-- card non ami-->
                <div class="anyClass">
                    <div class="card p-1 m-1" *ngFor="let f of nonFriends">
                        <div class="container">

                            <div class="row">
                                <!-- photo de profil -->
                                <div class="col-5">
                                    <img src="{{f.imageUser.nameImage}}" style="width: 100%">
                                </div>
                                <!-- nom user -->
                                <div class="col-7">
                                    <b id="add_friend_username"> {{f.loginUser}} <p style="font-style: italic; font-weight: lighter !important;"> <i class="fas fa-circle" style="color: rgb(171, 174, 171); size: 50%;"></i> Hors ligne</p></b>

                                    <div class="row">


                                    </div>
                                    
                                    <button type="submit" ><mat-icon svgIcon="add-friend" aria-hidden="false"></mat-icon>
                                    </button>

                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                </div>

            </div>
        </div>
    </div>