<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-4">
            <div class="card p-3 m-3">
                <div class="container">
                    <div id="content">
                        <form class='form-inline'>
                            <div class="input-group">
                                <input type='text' id='search' class="form-control search-form"
                                    placeholder="Rechercher...">
                                <span class="input-group-btn" style="width:39px">
                                    <button id="search-this" type="button" class="pull-right btn search-btn">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
                <form>
                    <label for="sports">Choisissez un sport: </label>
                    <select class="box" ngModel="" required>
                        <option *ngFor="let s of sports">{{s.nameSport}}</option>
                    </select>
                </form>
                <form>
                    <label class="distance" for="distance">Distance maximale : </label>
                    <select class="box">
                        <option value="1km">1km</option>
                        <option value="1km">2km</option>
                        <option value="1km">5km</option>
                        <option value="1km">10km</option>
                    </select>
                </form>
            </div>

        </div>
        <div class="col-8 p-4">
            <div class="card p-5 m-3">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d928.840070617503!2d2.2934666775776695!3d48.81707629455204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e670602d2a9ed7%3A0x3590c84d857d4771!2s29%20Bd%20Cam%C3%A9linat%2C%2092240%20Malakoff!5e0!3m2!1sfr!2sfr!4v1671446075475!5m2!1sfr!2sfr"
                    width="1080" height="700" style="border:0;" allowfullscreen="true" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<div>

</div>