<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-4">
            <div class="card p-3 m-3">
                <div class="container">
                    <div id="content">
                        <form class='form-inline'>
                            <div class="input-group">
                                <input type='text' id='search' class="form-control search-form"
                                    placeholder="Search...">
                                <span class="input-group-btn" style="width:39px">
                                    <button id="search-this" type="button" class="pull-right btn search-btn">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
                <form>
                    <label for="sports">Choose a sport: </label>
                    <select name="sports" id="sports">
                        <option value="Running">Running</option>
                        <option value="Swimming">Swimming</option>
                        <option value="Football">Football</option>
                        <option value="Basketball">Basketball</option>
                    </select>
                </form>
                <form>
                    <label for="distance">Distance form home : </label>
                    <select name="distance" id="distance">
                        <option value="1km">1km</option>
                        <option value="1km">2km</option>
                        <option value="1km">5km</option>
                        <option value="1km">10km</option>
                    </select>
                </form>
            </div>

        </div>
        <div class="col-9 p-4">
            <div class="card p-3 m-3">
                <img src="https://planparis360.fr/carte/image/fr/carte-arrondissement-paris.png" style="width: 90%;" alt="">
            </div>
        </div>
    </div>
</div>