<div>
    <table>
        <tr>
            <td>
                <p>Lundi |</p>
            </td>
            <td>
                <p>Mardi |</p>
            </td>
            <td>
                <p>Mercredi |</p>
            </td>
            <td>
                <p>Jeudi |</p>
            </td>
            <td>
                <p>Vendredi |</p>
            </td>
            <td>
                <p>Samedi |</p>
            </td>
            <td>
                <p>Dimanche |</p>
            </td>
        </tr>
        <tr>

        </tr>
    </table>
</div>