
    <div id="schedule" class="card p-3 m-3" [class.toggled]="classToggled">
        <div class="md-form">
            <table id="title-table" style="width:100%">
                <tr id="title-table">
                    <th id="title-table">
                        <h3>Calendrier</h3>
                    </th>
                    <th id="title-table">
                        <div class="container">
                            <div id="content">
                                <form class='form-inline'>
                                    <div class="input-group">
                                        <input type='text' id='search' class="form-control search-form"
                                            placeholder="Rechercher...">
                                        <span class="input-group-btn" style="width:39px">
                                            <button id="search-this" type="button" class="pull-right btn search-btn">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </th>
                    <th id="title-table">
                        <button (click)="openModifDonneesPersosModal()" type="submit"
                            class="btn btnPrincipal btn-block " style="font-size: 60%;">Ajouter une activité</button>
                    </th>
                </tr>
            </table>
        </div>




        <div class="row text-center">

            <div class="col-md-6">
                <div class="btn-group">
                    <div class="btn btnPrincipal btn-block " mwlCalendarPreviousView [view]="view"
                        [(viewDate)]="viewDate" style="height: 50px; font-size: 60%;">
                        Précédent
                    </div>
                    <div class="btn btnPrincipal btn-block " mwlCalendarToday [(viewDate)]="viewDate"
                        style="height: 50px; font-size: 60%;">
                        Aujourd'hui
                    </div>
                    <div class="btn btnPrincipal btn-block " mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        style="height: 50px;  font-size: 60%;">
                        Suivant
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>

            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btnPrincipal btn-block " (click)="setView(CalendarView.Month)"
                        [class.active]="view === CalendarView.Month" style="height: 50px;  font-size: 60%;">
                        Mois
                    </div>
                    <div class="btn btnPrincipal btn-block " (click)="setView(CalendarView.Week)"
                        [class.active]="view === CalendarView.Week" style="height: 50px;  font-size: 60%;">
                        Semaine
                    </div>
                    <div class="btn btnPrincipal btn-block " (click)="setView(CalendarView.Day)"
                        [class.active]="view === CalendarView.Day" style="height: 50px;  font-size: 60%;">
                        Jour
                    </div>
                </div>
            </div>


        </div>

        <div [ngSwitch]="view">

            <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" *ngSwitchCase="CalendarView.Month"
                [viewDate]="viewDate" [events]="events">
            </mwl-calendar-month-view>

            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events">
            </mwl-calendar-week-view>

            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events">
            </mwl-calendar-day-view>

        </div>

    </div>