<div class="card p-3 m-3">
    <div class="md-form">
        <table id="title-table" style="width:100%">
            <tr id="title-table">
                <th id="title-table">
                    <h3>Schedule</h3>
                </th >
                <th id="title-table"><div class="container">
                    <div id="content">
                        <form class='form-inline'>
                            <div class="input-group">
                                <input type='text' id='search' class="form-control search-form"
                                    placeholder="Search...">
                                <span class="input-group-btn" style="width:39px">
                                    <button id="search-this" type="button" class="pull-right btn search-btn">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div></th>
                <th id="title-table">
                    <button type="submit" class="btn btn-secondary btn-block btn-sm">Add</button></th>
            </tr>
        </table>
    </div>
    <div class="md-form">
        <div>
            <table style="width:100%">
                <tr>
                    <th>
                        <p>Heures</p>
                    </th>
                    <th>
                        <p>Lundi</p>
                    </th>
                    <th>
                        <p>Mardi</p>
                    </th>
                    <th>
                        <p>Mercredi</p>
                    </th>
                    <th>
                        <p>Jeudi</p>
                    </th>
                    <th>
                        <p>Vendredi</p>
                    </th>
                    <th>
                        <p>Samedi</p>
                    </th>
                    <th>
                        <p>Dimanche</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>10h</p>
                    </td>
                    <td>
                        <p>Running</p>
                    </td>
                    <td>
                        <p>Natation</p>
                    </td>
                    <td>
                        <p>Repos</p>
                    </td>
                    <td>
                        <p>Box</p>
                    </td>
                    <td>
                        <p>Dance</p>
                    </td>
                    <td>
                        <p>Repos</p>
                    </td>
                    <td>
                        <p>Repos</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>12h</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>14h</p>
                    </td>
                    <td>
                        <p>Running</p>
                    </td>
                    <td>
                        <p>Natation</p>
                    </td>
                    <td>
                        <p>Repos</p>
                    </td>
                    <td>
                        <p>Box</p>
                    </td>
                    <td>
                        <p>Dance</p>
                    </td>
                    <td>
                        <p>Repos</p>
                    </td>
                    <td>
                        <p>Repos</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>16h</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>18h</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>