<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-4">
            <div class="card p-3 m-3">
                <div class="md-form">
                    <h3>Personal data</h3>
                </div>
                <div class="md-form">
                    <p>Prénom : {{authService.getUserConnect().firstNameUser}} </p>
                </div>
                <div class="md-form">
                    <p>Nom : {{authService.getUserConnect().lastNameUser}}</p>
                </div>
                <div class="md-form">
                    <p>Login : {{authService.getUserConnect().loginUser}}</p>
                </div>
            </div>


            <div id="card_principal_amis" class="card p-3 m-3">
                <div class="card-header">
                    <p class="text-center">Mes amis</p>
                </div>

                <!-- card demande d'un ami-->
                <div class="anyClass">
                    <div class="card p-1 m-1" *ngFor="let f of friends">

                        <div class="container">

                            <div class="row">
                                <!-- photo de profil -->
                                <div class="col-3">
                                    <img class="photo_profil image-rond image-rond-bg"
                                        src="https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"
                                        alt="">
                                </div>
                                <!-- nom user -->
                                <div class="col-9">
                                    <p id="add_friend_username"> {{f.firstNameUser}}</p>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>

            </div>



            <div class="card p-3 m-3">
                <div class="md-form">
                    <h3>Ranking</h3>
                </div>
                <div class="md-form">
                    <p>N°1 : </p>
                </div>
            </div>
        </div>



        <div class="col-6 p-4 ">
            <ul style="list-style: none;">
                <li>
                    <!--Search bar : centrée, avec bouton "search" à droite-->
                    <div class="container">
                        <div id="content">
                            <form class='form-inline'>
                                <div class="input-group">
                                    <input type='text' id='search' class="form-control search-form"
                                        placeholder="Search...">
                                    <span class="input-group-btn" style="width:39px">
                                        <button id="search-this" type="button" class="pull-right btn search-btn">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </li>
                <li class="anyClass">
                    <h3>News feed</h3>
                    <p>L'histoire du rugby</p>
                    <p>Certaines études affirment que l'ancêtre du rugby est la soule (ou sioule), sport très pratiqué
                        en France du Moyen Âge. La soule a en effet des caractéristiques communes avec le rugby, comme
                        le knappan au pays de Galles, le hurling en Cornouailles et en Irlande, le calcio en Italie, qui
                        sont joués à la même époque. Mais ces jeux se sont vite éteints à la fin du xviiie siècle, au
                        contraire du folk football qui a trouvé refuge dans les collèges anglais2. La variante originale
                        a été inventée sur le terrain du principal collège de la ville de Rugby3 (Angleterre). La
                        légende veut qu'au cours d'une partie de football à la mi-1823, William Webb Ellis, élève de ce
                        collège (la Rugby School3) et futur pasteur, porte dans ses bras le ballon derrière la ligne de
                        but adverse alors que la règle est de le pousser au pied. En réalité, les origines du rugby sont
                        bien plus complexes et s'inscrivent dans le contexte du développement de la pratique de sports «
                        collectifs » dans l'éducation des public schools, notamment la Rugby School avec à sa tête le
                        headmaster (directeur) Thomas Arnold, qui vise dans les années 1830 à éduquer les enfants des
                        classes aisées (haute bourgeoisie et aristocratie). Cet éducateur britannique s'appuie alors sur
                        les sports athlétiques, notamment le football rugby, pratique populaire lors des fêtes des
                        campagnes et dont les valeurs viriles et guerrières doivent permettre à ces jeunes de pouvoir se
                        maîtriser dans un affrontement violent, de fortifier leur corps pour mieux pouvoir le soumettre
                        à la morale victorienne. Cette pédagogie doit également leur apprendre à diriger les
                        institutions et entreprises. Cette pratique sportive d'Arnold se diffuse progressivement dans
                        d'autres écoles grâce aux élèves et aux enseignants passés par Rugby4.

                        Les collèges britanniques de l'époque pratiquent chacun un jeu de ballon dérivé de la soule.
                        Chaque collège a ses propres règles et le jeu au pied et à la main sont fréquents. Le geste de
                        William Webb Ellis, de garder à la main le ballon, dans une phase de jeu qui ne le permet pas, a
                        fait progressivement évoluer la règle du collège de Rugby. Mais avec l'apparition du chemin de
                        fer, les collèges ne vont plus être isolés et des rencontres sportives vont devenir possibles.
                        Il faut dès lors se mettre d'accord sur les règles à adopter. On voit ainsi dans les premières
                        rencontres les matchs se dérouler selon la règle du collège qui reçoit. Mais très vite se fait
                        sentir le besoin d'avoir des règles plus uniformes. Des querelles naissent entre les partisans
                        d'un jeu favorisant le pied (dribbling) et ceux qui veulent limiter ce jeu jugé trop violent (le
                        jeu de l'époque diffère de celui pratiqué aujourd'hui). De cette querelle naîtra le Football
                        Association et le Rugby-Football du nom de leurs organisations respectives5.


                        Rugby, ville anglaise du Warwickshire.
                        Cette pratique, qui fait désormais la particularité du football joué dans la Rugby School,
                        autrement dit les Rugby School rules ou le rugby football, sera codifiée pour la première fois
                        en 1846 par les élèves, puis le 8 décembre 1863, à Cambridge, par les étudiants de cette
                        université, tous anciens élèves de Rugby. Le « Rugby-Football » est né. L'écriture des règles
                        permet la diffusion du jeu et le Dublin University Football Club, fondé en 1854, est le premier
                        club au monde à pratiquer les Rugby School rules. Dès 1857, les règles sont exportées en
                        Australie et le premier club, le Sydney University Football Club, y est fondé en 1863.
                        En 1871, pour se distinguer définitivement du football et de la « Football Association », est
                        créée la première fédération nationale : la Rugby Football Union (RFU). L'année 1871 voit aussi
                        l'Écosse et l'Angleterre s'affronter le dimanche 27 mars 18716. C'est la première rencontre
                        internationale jamais disputée7. Elle a lieu à Raeburn Place, situé à Édimbourg (Écosse).
                        L'Écosse l'emporte, avec le barème de l'époque, par 1 à 0 devant 4 000 personnes8,9.


                        L'équipe anglaise du premier match Écosse - Angleterre, le 27 mars 1871.
                        Le terrain de Raeburn Place est un stade de cricket car la fédération écossaise de rugby n'a pas
                        encore de stade dédié au rugby10. Il est disputé par deux équipes de vingt joueurs7, en deux
                        périodes de cinquante minutes. Les Écossais gagnent le match par un essai et un but marqués
                        contre un essai pour les Anglais.


                        Carte de la Grande-Bretagne et de l'Irlande.
                        Progressivement, la RFU va adopter différentes règles pour améliorer le jeu, comme la
                        suppression de certains coups dangereux — plus particulièrement le hacking (la possibilité de
                        porter un coup intentionnellement à un joueur qui porte le ballon avec la main) —,
                        l'autorisation de la passe à la main en 1875 et la diminution du nombre de joueurs de vingt à
                        quinze, comme solution aux matchs trop fermés, une initiative des Écossais acceptée par la RFU
                        pour la saison 1876-187711.

                        Peu à peu, le rugby, jusque-là réservé aux élites au travers des public schools, gagne toutes
                        les couches sociales. Dans les années 1880 se pose la question du professionnalisme à l'image du
                        joueur de Wakefield, Teddy Bartram, premier joueur de l'histoire de rugby à XV professionnel. Ce
                        dernier se voit par la suite interdit à vie de pratique de rugby à XV pour professionnalisme. A
                        contrario, le football adopte le professionnalisme en 1885. Cette décision de garder
                        l'amateurisme crée une scission au sein du rugby. Dès 1891, soit un an après la création de
                        l'International Board, instance chargée de la gestion du jeu et de ses règles, les clubs du Nord
                        de la Grande-Bretagne réclament une aide pour rembourser aux ouvriers le temps de travail perdu
                        à cause des matchs disputés le samedi, jour ouvré, mais la RFU refuse. Après plusieurs
                        tentatives, la Northern Rugby Football Union, d'abord une copie professionnelle de la RFU, est
                        créée le 27 août 1895, elle est à l'origine de la création du rugby à XIII.

                        La revanche entre les équipes d'Écosse et d'Angleterre a lieu sur le terrain de ces derniers, à
                        l'Oval de Londres. L’Angleterre remporte le match par 8 à 3 (les Anglais inscrivent trois
                        essais, une transformation et une pénalité, et les Écossais marquent un drop goal)12. Le match
                        suivant entre les deux nations se déroule au Hamilton Crescent de Glasgow, il se termine sur un
                        partage des points13. Les deux nations se rencontrent à nouveau, le lundi 23 février 1874, et
                        voit un succès anglais 3 à 1.

                        L'Irlande débute sur le plan international en rencontrant l'Angleterre en 1875 (défaite 7 à 0
                        des Irlandais) (voir Angleterre-Irlande en rugby à XV)14. Le Pays de Galles débute un peu plus
                        tard sur le plan international avec des matchs contre l'Angleterre en 1881, l'Irlande en 1882 et
                        l'Écosse en 1883.

                        Ce n'est qu'en 1884 que ces quatre équipes se rencontrent toutes pendant la même saison, en
                        effet il manque un match à l'édition de 1883 pour que le Tournoi soit complet15. Les éditions de
                        1885, 1887 et 1889 ne sont pas finies, à la suite de disputes entre fédérations16.

                        Les Anglais sont exclus des éditions de 1888 et 1889 du Tournoi en raison de leur refus de
                        rejoindre l'International Rugby Board17,18.
                    </p>
                </li>
            </ul>
        </div>

        <div class="col-3 p-4">
            <div class="card p-3 m-3">
                <div class="md-form">
                    <h3>Schedule</h3>
                </div>
                <div class="md-form">
                    <div>
                        <table id="schedule" style="width:100%">
                            <tr>
                                <th>
                                    <p>Heure</p>
                                </th>
                                <th>
                                    <p>Lundi</p>
                                </th>
                                <th>
                                    <p>Mardi</p>
                                </th>
                                <th>
                                    <p>Mercredi</p>
                                </th>
                                <th>
                                    <p>Jeudi</p>
                                </th>
                                <th>
                                    <p>Vendredi</p>
                                </th>
                                <th>
                                    <p>Samedi</p>
                                </th>
                                <th>
                                    <p>Dimanche</p>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p>10h</p>
                                </td>
                                <td>
                                    <p>Running</p>
                                </td>
                                <td>
                                    <p>Natation</p>
                                </td>
                                <td>
                                    <p>Repos</p>
                                </td>
                                <td>
                                    <p>Box</p>
                                </td>
                                <td>
                                    <p>Dance</p>
                                </td>
                                <td>
                                    <p>Repos</p>
                                </td>
                                <td>
                                    <p>Repos</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>12h</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>14h</p>
                                </td>
                                <td>
                                    <p>Running</p>
                                </td>
                                <td>
                                    <p>Natation</p>
                                </td>
                                <td>
                                    <p>Repos</p>
                                </td>
                                <td>
                                    <p>Box</p>
                                </td>
                                <td>
                                    <p>Dance</p>
                                </td>
                                <td>
                                    <p>Repos</p>
                                </td>
                                <td>
                                    <p>Repos</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>16h</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>18h</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card p-3 m-3">
                <div class="md-form">
                    <h3>Message</h3>
                </div>
                <div class="md-form">
                    <h4>John</h4>
                    <p>Hi, how are you ? </p>
                </div>
            </div>
        </div>
    </div>
</div>