
  .search-container{
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
  }

  .search-container input{
    left: auto;
    height: 30px;
    width: 600px
  }

  .container {
    width: auto;
    height: auto;
}

.centered-element{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.anyClass {
    height:820px;
    overflow-y: scroll;
  }