<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-4">
            <div class="card p-3 m-3">
                <div class="card-header">
                    <h3 class="text-center">Données personnelles</h3>
                </div>
                <div class="md-form">
                    <p>Prénom : {{authService.getUserConnect().firstNameUser}} </p>
                </div>
                <div class="md-form">
                    <p>Nom : {{authService.getUserConnect().lastNameUser}}</p>
                </div>
                <div class="md-form">
                    <p>Pseudo : {{authService.getUserConnect().loginUser}}</p>
                </div>
            </div>


            <div id="card_principal_amis" class="card p-3 m-3">
                <div class="card-header">
                    <p class="text-center">Mes amis</p>
                </div>

                <!-- card demande d'un ami-->
                <div class="anyClass">
                    <div class="card p-1 m-1" *ngFor="let f of friends">

                        <div class="container">

                            <div class="row">
                                <!-- photo de profil -->
                                <div class="col-3">
                                    <img class="photo_profil image-rond image-rond-bg"
                                        src="https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"
                                        alt="">
                                </div>
                                <!-- nom user -->
                                <div class="col-9">
                                    <p id="add_friend_username"> {{f.firstNameUser}}</p>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>

            </div>



            <div class="card p-3 m-3">
                <div class="card-header">
                    <h3 class="text-center">Rang</h3>
                </div>
                <div class="md-form">
                    <p>N°1 : </p>
                </div>
            </div>
        </div>



        <div class="col-6 p-4 ">
            <ul style="list-style: none;">
                <li>
                    <!--Search bar : centrée, avec bouton "search" à droite-->
                    <div class="container">
                        <div id="content">
                            <form class='form-inline'>
                                <div class="input-group">
                                    <input type='text' id='search' class="form-control search-form"
                                        placeholder="Search...">
                                    <span class="input-group-btn" style="width:39px">
                                        <button id="search-this" type="button" class="pull-right btn search-btn">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </li>
                <li class="anyClass">
                    <h3>Mes activités</h3>

                    <div class="card p-3 m-3 col-11" *ngFor="let a of activite;  ">

                        <div class="row">
                            <div class="col-12 justify-content-center">
                                <h2 class=""> {{a.user.loginUser}}</h2>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-12">
                                <p>Nom de l'activité {{a.activity.nameActivity}}</p>
                                <p>Date de début : {{a.activity.dateStart | date: 'd MMM y H:mm'}}</p>
                                <p>Date de fin : {{a.activity.dateEnd | date: 'd MMM y H:mm'}}</p>
                                <p>Description : {{a.activity.descActivity}}</p>
                            </div>
                        </div>

                    </div>

                    <h3>Les activités de mes amis </h3>
                </li>
            </ul>
        </div>

        <div class="col-3 p-4">
            <div class="card p-3 m-3">
                <div class="card-header">
                    <h3 class="text-center">Prochains évènements</h3>
                </div>

                <div class="card p-3 m-3" *ngFor="let e of events">

                    <h3 class="text-center">{{e.titleEvent}}</h3>
                    <p>Start : {{e.dateStart | date: 'd MMM y H:mm'}} </p>
                    <p>End : {{e.dateEnd | date: 'd MMM y H:mm'}}</p>

                </div>
            </div>

        </div>
    </div>
</div>