<body class="anyClass">
    <div *ngIf="images.length!=0">
        <div class="card p-5 m-4" *ngFor="let i of images">
            <div class="row justify-content-center">
                <img class="photo_profil image-rond image-rond-bg" src="{{i.nameImage}}" alt="">
            </div>
            <br>
            <div class="row">
                <button (click)="changePP(i.idImage)" type="submit"
                    class="btn btnPrincipal btn-block btn-lg notNull">Choisir en
                    photo de
                    profil</button>
            </div>
            
        </div>
    </div>
    <div class="null m-2" *ngIf="images.length==1">
        <div class="row">
            <p>Vous possédez aucun avatar !</p>
        </div>
        <div class="row">
            <button class="btn btnPrincipal btn-sm" (click)="goToShop()">Aller dans à la boutique<i
                    class="fas fa-shopping-cart"></i></button>
        </div>
    </div>
</body>