<body [class.toggled]="classToggled">


  <div class="back">

    <div class="text-center" *ngIf="authService.isConnected()">
      <ul [class.toggled]="classToggled" class="nav navbar nav-fill w-100 z-depth-2">
        <li class="nav-item">
          <a routerLink="home" routerLinkActive="menu-active" class="nav-link white-text">Accueil</a>
        </li>
        <li class="nav-item">
          <a routerLink="schedule" routerLinkActive="menu-active" class="nav-link white-text">Planning</a>
        </li>
        <li class="nav-item">
          <a routerLink="friend" routerLinkActive="menu-active" class="nav-link white-text">Amis</a>
        </li>
        <li class="nav-item">
          <a routerLink="club" routerLinkActive="menu-active" class="nav-link white-text">Club</a>
        </li>
        <li class="nav-item">
          <a routerLink="event" routerLinkActive="menu-active" class="nav-link white-text">Evenements</a>
        </li>
        <li class="nav-item">
          <a routerLink="map" routerLinkActive="menu-active" class="nav-link white-text">Carte</a>
        </li>
        <li>
          <a  routerLinkActive="menu-active" class="nav-link white-text">
          <button mat-button [matMenuTriggerFor]="menu" class="nav-link white-text ">Boutique</button>
          <mat-menu #menu="matMenu" style="background-color: white;">
            <button style="background-color: white;" mat-menu-item (click)="goToShopAvatar()" routerLinkActive="menu-active">Avatar</button>
            <button style="background-color: white;" mat-menu-item (click)="goToShopCoach()"  routerLinkActive="menu-active">Coach</button>
            <button style="background-color: white;" mat-menu-item (click)="goToShopTokens()" routerLinkActive="menu-active">Tokens</button>
          </mat-menu>
        </a>
        </li>
        <li class="nav-item">
          <a  routerLinkActive="menu-active" class="nav-link white-text ">
            <button mat-button [matMenuTriggerFor]="profil" class="nav-link white-text ">Profil</button>
            <mat-menu #profil="matMenu" style="background-color: white;">
              <button style="background-color: white;" mat-menu-item (click)="goToShopProfil()" routerLinkActive="menu-active">Voir son profil</button>
              <button style="background-color: white;" mat-menu-item (click)="authService.logout()" > Déconnexion</button>
            </mat-menu>
          </a>
        </li>
        <li class="nav-item">
          <div>
            <input type="checkbox" id="toggle" (click)="darkMode()" (click)="darkTheme()">
            <label *ngIf="dark" for="toggle"><i for="toggle" class="fas fa-moon black-text"></i></label>
            <label *ngIf="!dark" for="toggle"><i for="toggle" class="fas fa-sun white-text"></i></label>
          </div>
        </li>
      </ul>
    </div>
  </div>




  <router-outlet></router-outlet>

</body>