  /* CSS de la search bar*/
  .well {
    background-color: #FCECDD;
  }


  .search-form {
    border-radius: 30px 0 0 30px;
    margin: 6px;
  }

  .input-group {
    width: 90%;
  }

  input-group-btn {
    max-width: 38px;
  }

  #search {
    border: 1px;

  }

  .search-btn {
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    background-color: #FFC288;
    color: rgb(255, 255, 255);

  }

  img {
    float: left;
    max-width: 100px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }



  /* CSS du scroll */
  .anyClass {
    height: 805px;
    overflow-y: scroll;
  }

  table,
  th,
  td {
    border: 1px solid black;
    font-size: 85%;
  }

  /* Card size  */

  .card {
    width: min(100%, 500px);
  }

  #inside-card {
    height: 100px;
  }

  .card-header {
    background-color: #FCECDD;
    color: black;
  }

  .btnPrincipal {
    background-color: #FFC288 !important;
  }

  .tourBtn {
    margin-top: 1px;
  }

  .btnRang {
    padding-left: 30px;
  }

  #card_training {
    height: 400px;
  }

  /* CSS du scroll */
  .anyClass {
    height: auto;
    overflow-y: scroll;
  }