  /* CSS de la search bar*/
  .well {
    background-color: #FCECDD;
  }


  .search-form {
    border-radius: 30px 0 0 30px;
    margin: 6px;
  }

  .input-group {
    width: 90%;
  }

  input-group-btn {
    max-width: 38px;
  }

  #search {
    border: 1px;
    background-color: #FCECDD;
}

#search-this {
    background-color: #FFC288;
}

.search-btn {
    cursor: pointer;
    border-radius: 0 30px 30px 0;
    color: rgb(255, 255, 255);

}

  img {
    float: left;
    max-width: 100px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }



  /* CSS du scroll */
  .anyClass {
    height: 805px;
    overflow-y: scroll;
  }

  table,
  th,
  td {
    border: 1px solid black;
    font-size: 85%;
  }

  /* Card size  */

  .card {
    width: min(100%, 500px);
  }

  #inside-card {
    height: 100px;
  }

  .card-header {
    background-color: #FCECDD;
    color: black;
  }

  .btnPrincipal {
    background-color: #FFC288 !important;
  }

  .tourBtn {
    margin-top: 1px;
  }

  .btnRang {
    padding-left: 30px;
  }

  #card_training {
    height: 400px;
  }

  #training {
    height: auto;
  }

  /* CSS du scroll */
  .anyClass {
    height: auto;
    overflow-y: scroll;
  }

  h4 {
    color : white;
  }
  
/* Dark Mode CSS */

.toggled {
  color: rgb(255, 255, 255);
  background: rgb(42, 42, 42) ;
}

.toggled .card-header {
  background-color: rgb(136, 142, 183);
  color: black;
}


.toggled #search {
  border: 1px;
  background-color: rgb(136, 142, 183);
  color: white;
}

.toggled #search-this {
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  background-color: rgb(87, 90, 159);
  color: rgb(255, 255, 255);

}

.toggled .btnPrincipal {
  background-color: #3f4a6e !important;
}

