<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-3">
            <div class="card p-3 m-3">
                <div class="card-header">
                    <h3 class="text-center">Données personnelles</h3>
                </div>

                <div class="md-form">
                    <div class="p-3">
                        <p>Nom : {{authService.getUserConnect().firstNameUser}} </p>
                        <p>Prénom : {{authService.getUserConnect().lastNameUser}}</p>
                        <p>Date de naissance: {{authService.getUserConnect().birthDateUser}}</p>
                        <p>Pseudo : {{authService.getUserConnect().loginUser}}</p>
                        <p>Coach : {{authService.getUserConnect().coachUser}}</p>
                        <p *ngIf="authService.getUserConnect().addressUser != null">Adresse :
                            {{authService.getUserConnect().addressUser.streetAddress}}</p>
                        <p>{{authService.getUserConnect().addressUser.zipCodeAddress}}
                            {{authService.getUserConnect().addressUser.cityAddress}}</p>
                        <p *ngIf="authService.getUserConnect().addressUser == null">Adresse : Non précisée</p>
                    </div>


                    <div class="tourBtn"><button (click)="openModifDonneesPersosModal()" type="submit"
                            class="btn btnPrincipal btn-block btn-sm">Modifier les données
                            personnelles</button></div>
                    <div class="tourBtn"><button (click)="openChangerMdp()" type="button"
                            class="btn   btn-link btn-block btn-sm">Changer le
                            mot de passe</button></div>

                </div>
            </div>


            <div class="btnRang">
                <button (click)="goToRanking()" type="submit" class="btn btnPrincipal btn-block btn-lg">Rang
                    Personnel</button>
            </div>

            <div class="card p-3 m-3">
                <div class="card-header">
                    <h3 class="text-center">Token </h3>
                </div>
                <div>
                    <p>Vous possédez actuellement : {{authService.getUserConnect().token}} tokens</p>
                </div>
                <div>
                    <button (click)="goToShop()" type="submit" class="btn btnPrincipal btn-block btn-sm"> Acheter des
                        tokens</button>
                </div>
            </div>
        </div>

        <div class="col-6 p-4 ">
            <ul style="list-style: none;">
                <li>
                    <!--Search bar : centrée, avec bouton "search" à droite-->
                    <div class="container">
                        <div id="content">
                            <form class='form-inline'>
                                <div class="input-group">
                                    <input type='text' id='search' class="form-control search-form well"
                                        placeholder="Search...">
                                    <span class="input-group-btn" style="width:39px">
                                        <button id="search-this" type="button" class="pull-right btn search-btn">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </li>
                <div class="p-3">
                    <li class="anyClass">
                        <h3>Mes activités</h3>

                        <div class="card p-3 m-3 col-11" *ngFor="let a of activite;  ">

                            <div class="row">
                                <div class="col-12 justify-content-center">
                                    <h2 class=""> {{a.user.loginUser}}</h2>

                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <p>Nom de l'activité {{a.activity.nameActivity}}</p>
                                    <p>Date de début : {{a.activity.dateStart | date: 'd MMM y H:mm'}}</p>
                                    <p>Date de fin : {{a.activity.dateEnd | date: 'd MMM y H:mm'}}</p>
                                    <p>Description : {{a.activity.descActivity}}</p>
                                </div>
                            </div>

                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <div class="col-3 p-3">
            <div class="card p-3 m-3">
                <div class="card-header">
                    <h3 class="text-center">Statistiques</h3>
                </div>
                <div class="container">

                    <div class="row p-3">
                        <div class="col-6">
                            <button type="submit" class="btn btnPrincipal btn-block btn-sm">Par mois</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btnPrincipal btn-block btn-sm">Par sport</button>
                        </div>
                    </div>

                </div>


                <div>
                    <div class="md-form">
                        <div id="inside-card" class="card p-3 m-3">
                            <div class="md-form">
                                <h4>Par mois</h4>
                                <p>Course : </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card p-3 m-3">
                <div class="card-header">
                    <h3 class="text-center">Entrainement</h3>
                </div>
                <div>
                    <div class="p-3">
                        <button type="submit" class="btn btnPrincipal btn-block btn-sm">Ajouter</button>
                    </div>
                    <div class="row p-3">
                        <div class="col-6">
                            <button type="submit" class="btn btnPrincipal btn-block btn-sm">Par mois</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btnPrincipal btn-block btn-sm">Par sport</button>
                        </div>
                    </div>


                    <div id="inside-card" class="md-form">
                        <div class="card p-3 m-3">
                            <div class="md-form">
                                <h4>Par sport</h4>
                                <p>Course : </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quas labore
                                    consequuntur? Repudiandae molestias dolores labore ea sed quibusdam libero
                                    reprehenderit harum autem nam, nemo accusantium, tenetur, asperiores unde tempore.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-form">
                </div>
            </div>

        </div>
    </div>
</div>