<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-3">

            <div class="card p-3 m-3" [class.toggled]="classToggled">
                <div class="card-header">
                    <h3 class="text-center">Photo de profil </h3>
                </div>
                <div class="mx-auto text-center p-2">
                    <img src="{{userInfo.imageUser.nameImage}}">
                </div>
                <div>
                    <button (click)="openInventaire()" type="submit" class="btn btnPrincipal btn-block btn-sm"> Changer
                        de photo de profil</button>
                </div>
            </div>

            <div class="card p-3 m-3" [class.toggled]="classToggled">
                <div class="card-header">
                    <h3 class="text-center">Données personnelles</h3>
                </div>

                <div class="md-form" [class.toggled]="classToggled">
                    <div class="p-3" [class.toggled]="classToggled">
                        <p>Nom : <b>{{userInfo.lastNameUser}} </b></p>
                        <p>Prénom : <b>{{userInfo.firstNameUser}}</b></p>
                        <p>Date de naissance: <b>{{userInfo.birthDateUser}}</b></p>
                        <p>Pseudo : <b>{{userInfo.loginUser}}</b></p>
                        <p *ngIf="userInfo.coachUser == true">Coach : <b>Oui</b></p>
                        <p *ngIf="userInfo.coachUser != true">Coach : <b>Non</b></p>
                        <p *ngIf="authService.getUserConnect().addressUser != null">Adresse :
                            <b>{{authService.getUserConnect().addressUser.streetAddress}}</b>
                        </p>
                        <p><b>{{authService.getUserConnect().addressUser.zipCodeAddress}}
                                {{authService.getUserConnect().addressUser.cityAddress}}</b></p>
                        <p *ngIf="authService.getUserConnect().addressUser == null">Adresse : <b>Non précisée</b></p>
                    </div>


                    <div class="tourBtn"><button (click)="openModifDonneesPersosModal()" type="submit"
                            class="btn btnPrincipal btn-block btn-sm">Modifier les données
                            personnelles</button></div>
                    <div class="tourBtn"><button (click)="openChangerMdp()" type="button"
                            class="btn   btn-link btn-block btn-sm">Changer le
                            mot de passe</button></div>

                </div>
            </div>


            <div class="btnRang">
                <button (click)="goToRanking()" type="submit" class="btn btnPrincipal btn-block btn-lg">Classement
                    Personnel <i class="fas fa-crown" style="color: yellow;"></i></button>
            </div>

            <div class="card p-3 m-3" [class.toggled]="classToggled">
                <div class="card-header">
                    <h3 class="text-center">Token </h3>
                </div>
                <div [class.toggled]="classToggled">
                    <p>Vous possédez actuellement : {{userInfo.token}} tokens</p>
                </div>
                <div>
                    <button (click)="goToShop()" type="submit" class="btn btnPrincipal btn-block btn-sm"> Acheter des
                        tokens</button>
                </div>
            </div>

        </div>

        <div class="col-6 p-4 ">
            <ul style="list-style: none;">
                <li>
                    <!--Search bar : centrée, avec bouton "search" à droite-->
                    <div class="container">
                        <div id="content">
                            <form class='form-inline'>
                                <div class="input-group">
                                    <input type='text' id='search' class="form-control search-form well"
                                        placeholder="Rechercher...">
                                    <span class="input-group-btn" style="width:39px">
                                        <button id="search-this" type="button" class="pull-right btn search-btn">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </li>
                <div class="p-3">
                    <li class="anyClass">
                        <h3>Mes activités</h3>

                        <div class="card p-3 m-3 col-11" *ngFor="let a of activite;  " [class.toggled]="classToggled">

                            <div class="row">
                                <div class="col-12 justify-content-center">
                                    <h2 class=""> {{a.user.loginUser}}</h2>

                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <p>Sport : {{a.activity.nameActivity}}</p>
                                    <p>Date de début : {{a.activity.dateStart | date: 'd MMM y H:mm'}}</p>
                                    <p>Date de fin : {{a.activity.dateEnd | date: 'd MMM y H:mm'}}</p>
                                    <p>Description : {{a.activity.descActivity}}</p>
                                </div>
                            </div>

                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <div class="col-3 p-3">
            <div class="card p-3 m-3" [class.toggled]="classToggled">
                <div class="card-header">
                    <h3 class="text-center">Statistiques</h3>
                </div>
                <div class="container">

                    <div class="row p-3" [class.toggled]="classToggled">
                        <div class="col-6" [class.toggled]="classToggled">
                            <button type="submit" class="btn btnPrincipal btn-block btn-sm">Par mois</button>
                        </div>
                        <div class="col-6" [class.toggled]="classToggled">
                            <button type="submit" class="btn btnPrincipal btn-block btn-sm">Par sport</button>
                        </div>
                    </div>

                </div>


                <div>
                    <div class="md-form">
                        <div id="inside-card" class="card p-3 m-3" [class.toggled]="classToggled">
                            <div class="md-form" [class.toggled]="classToggled">
                                <h4>Par mois</h4>
                                <p>Course : </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div id="card_training" class="card p-3 m-3" [class.toggled]="classToggled">
                <ul style="list-style: none;" [class.toggled]="classToggled">
                    <li class="anyClass" [class.toggled]="classToggled">
                        <div class="card-header">

                            <h3 class="text-center">Entrainement</h3>
                        </div>
                        <div>
                            <div class="p-3" [class.toggled]="classToggled">
                                <button type="submit" class="btn btnPrincipal btn-block btn-sm">Ajouter</button>
                            </div>
                            <div class="row p-3" [class.toggled]="classToggled">
                                <div class="col-6" [class.toggled]="classToggled">
                                    <button type="submit" class="btn btnPrincipal btn-block btn-sm">Par mois</button>
                                </div>
                                <div class="col-6" [class.toggled]="classToggled">
                                    <button type="submit" class="btn btnPrincipal btn-block btn-sm">Par sport</button>
                                </div>
                            </div>


                            <div id="inside-card" class="md-form">


                                <div class="md-form" [class.toggled]="classToggled">
                                    <h4>Par sport</h4>
                                    <div *ngIf="visibleMemos" [class.toggled]="classToggled">
                                        <div class="md-form" [class.toggled]="classToggled">
                                            <b>Course à pied : </b>
                                            <p>S'échauffer pendant 10 mins puis courrir 10km
                                            </p>
                                            <b>Objectif de temps</b>
                                            <p>55 mins</p>
                                            <div class="col-1 m-1">
                                                <button (click)="showHideMemos()" type="submit"
                                                    class="btn btn-danger btn-block btn-sm" style="font-size: 60%;">x
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="md-form">
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>