<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-4">
            <div class="card p-3 m-3">

                <div class="row">
                    <div class="col-6 p-4">
                        <div class="container">
                            <div id="content">
                                <form class='form-inline'>
                                    <div class="input-group">
                                        <input type='text' id='search' class="form-control search-form"
                                            placeholder="Recherche un club...">
                                        <span class="input-group-btn" style="width:39px">
                                            <button id="search-this" type="button" class="pull-right btn search-btn">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                    <div class="col-3 p-4">
                        <form>
                            <label for="sports">Sélectionner un sport: </label>
                            <select name="sports" id="sports">
                                <option value="Running">Course à pied</option>
                                <option value="Swimming">Natation</option>
                                <option value="Football">Football</option>
                                <option value="Basketball">Basketball</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-3 p-4">
                        <span class="input-group-btn" style="width: 50%;">
                            <button type="submit" class="btn btnPrincipal btn-block " style="font-size: 60%;">Créer un
                                club</button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-4">
                        <div class="card p-3 m-3">
                            <div class="row">
                                <div class="col-6 p-4">
                                    <div class="card p-3 m-3">
                                        <h4>Paris rugby</h4>
                                        <img src="https://img.freepik.com/vecteurs-libre/ensemble-elements-sport-rugby-vintage_1284-37924.jpg?w=826&t=st=1670941713~exp=1670942313~hmac=ffce7d716ce1183f9286475a795bc2cd1e53c7f08439ca67134829b90669417d"
                                            style="width: 30%" alt="">
                                    </div>
                                </div>
                                <div class="col-6 p-4">
                                    <div class="card p-3 m-3">
                                        <h4>Description</h4>
                                        <p>Club de rugby amateur. Vous souhaitez découvrir le ballon oval ? Envoyez nous
                                            un message et venez tenter votre chance</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 p-4">
                                    <h4>Amis membres du club</h4>
                                </div>
                                <div class="col-3 p-4">
                                    <span class="input-group-btn" style="width: 50%;">
                                        <button type="submit" class="btn btnPrincipal btn-block "
                                            style="font-size: 60%;">Rejoindre</button>
                                    </span>
                                </div>
                                <div class="col-3 p-4">
                                    <span class="input-group-btn" style="width: 50%;">
                                        <button type="submit" class="btn btnPrincipal btn-block "
                                            style="font-size: 60%;">Contacter</button>
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Club creation 

<div style="margin: auto; width: 30%">
    <form>
        <div class="card p-3">

            <div class="md-form">
                <label>Title :</label>
                <input name="title" ngModel="" type="text" class="form-control">
            </div>
            <div class="md-form">
                <label>Sport :</label>
                <input name="description" ngModel="" type="password" class="form-control">
            </div>
            <div class="md-form">
                <label>Description :</label>
                <input name="description" ngModel="" type="password" class="form-control">
            </div>
            <div class="md-form">
                <label>Add picture </label>
                <input name="description" ngModel="" type="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-secondary btn-block btn-sm">Create</button>

        </div>
    </form>

</div>

-->

<!--Club information 
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-4">
            <div class="card p-3 m-3">

                <div class="row">
                    <div class="col-6 p-4">
                        <h4>Club name</h4>
                    </div>
                    <div class="col-3 p-4">
                        <span class="input-group-btn" style="width: 50%;">
                            <button type="submit" class="btn btn-secondary btn-block btn-sm">Join</button>
                        </span>
                    </div>
                    <div class="col-3 p-4">
                        <span class="input-group-btn" style="width: 50%;">
                            <button type="submit"
                                class="btn btn-secondary btn-block btn-sm">Contact</button>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 p-4">
                        <div class="card p-3 m-3">
                            <h4>Description</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, vel? Sequi earum dolorem incidunt, architecto vero sit aliquid voluptatibus officia debitis possimus, dicta, ullam reiciendis recusandae provident. Possimus, magnam vitae?</p>
                        </div>
                        <div class="card p-3 m-3">
                            <h4>Photo</h4>
                        </div>
                    </div>
                    <div class="col-6 p-4">
                        <ul style="list-style: none;">
                        <li class="anyClass">
                        <h4>Feed</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, inventore, modi id ratione magnam vitae architecto iusto quos, rerum accusantium deserunt totam! Animi eveniet dolorum, molestias quia temporibus neque nostrum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto tempora vel dolor pariatur molestias earum ipsum a recusandae? Iure sequi odit, alias possimus optio perspiciatis doloremque ut omnis dolorum Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla animi nam tenetur ratione quis, autem natus quam! At repellendus possimus esse quae atque, iure numquam odit mollitia! Asperiores, fugiat nulla?</p>
                        </li>
                    </ul>
                    </div>
                    <div class="col-3 p-4">
                        <div class="card p-3 m-3">
                            <h4>Map</h4>
                        </div>
                        <div class="card p-3 m-3">
                            <h4>Member list : </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolorem voluptate possimus. Velit laboriosam sint reiciendis fuga in, vitae beatae architecto earum accusantium nam amet ab ut explicabo, pariatur quaerat.</p>
                        </div>
                    </div>


            </div>
        </div>

    </div>
</div>
-->