<div class="card p-3 m-3">
    <div class="md-form">


        <div class="container">
            <div class="row">

                <div class="col-2">
                    <button (click)="showHideCoach()" type="submit" class="btn btn-secondary btn-block btn-sm">Coach
                        :</button>
                </div>

                <div class="col-1">

                </div>
                <div class="col-2">
                    <button (click)="showHideAvatar()" type="submit" class="btn btn-secondary btn-block btn-sm">Avatar
                        :</button>
                </div>

                <div class="col-1">

                </div>

                <div class="col-2">
                    <button (click)="showHideTokens()" type="submit" class="btn btn-secondary btn-block btn-sm">Tokens
                        :</button>
                </div>

                <div class="col-1">

                </div>

                <div class="col-2">
                    <button (click)="showHideAll()" type="submit" class="btn btn-secondary btn-block btn-sm">Fermer tous
                        :</button>
                </div>
            </div>
        </div>



    </div>
</div>

<!--Page coach-->
<div class="card p-3 m-3" *ngIf="visibleCoach">
    <div class="md-form">
        <h3 class="alignement">Coach :</h3>

        <form class='form-inline, alignement' #namesport="ngForm" (ngSubmit)="listCoachsBySport(nameSportIn.value)">
            <div class="input-group">
                <input ngModel="" #nameSportIn name="nameSport" type='text' id='nameSport'
                    class="form-control search-form" placeholder="Search...">
                <span class="input-group-btn" style="width:39px">
                    <button id="search-this" type="submit" class="pull-right btn search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <div class="card p-3 m-3">
            <div class="md-form anyClass">
                <h3 class="alignement">Profil coach</h3>
                <div class="card p-4 m-2" *ngFor="let c of coachs">

                    <div class="row">
                        <div class="col-1">
                            <img class="photo_profil image-rond image-rond-bg"
                                src="https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"
                                alt="">
                        </div>
                        <div *ngIf="nameSportIn.value != null">
                            <p>Prénom : {{c.user.firstNameUser}}</p>
                            <p>Nom : {{c.user.lastNameUser}}</p>
                            <p>Login : {{c.user.loginUser}}</p>
                        </div>
                        <div *ngIf="nameSportIn.value == null">
                            <p>Prénom : {{c.user.firstNameUser}}</p>
                            <p>Nom : {{c.user.lastNameUser}}</p>
                            <p>Login : {{c.user.loginUser}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <table id="title-table" style="width:100%">
            <tr id="title-table">

                <th id="title-table" form>
                    <button type="submit" class="btn btn-secondary btn-block btn-sm">Contacter</button>
                </th>
                <th id="title-table">
                    <button type="submit" class="btn btn-secondary btn-block btn-sm">Payer</button>
                </th>
            </tr>
        </table>

    </div>
</div>




<!--Page Avatar-->
<div class="card p-3 m-3" *ngIf="visibleAvatar">
    <div class="md-form">
        <h3 class="alignement">Avatar :</h3>

        <div class="card p-3 m-3 anyClass">
            <div class="md-form">
                <div class="row">
                    <div class="col-2" *ngFor="let a of avatars">
                        <div class="card p-5 m-1">
                            <div class="row justify-content-center">
                                <img class="photo_profil image-rond image-rond-bg"
                                    src="https://images.unsplash.com/photo-1520271348391-049dd132bb7c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9"
                                    alt="">
                            </div>
                            <br>
                            <div class="row">
                                <strong>Description :</strong>
                                <p>{{a.descriptionProduit}}</p>
                            </div>
                            <div class="row">
                                <strong>Prix :</strong>
                                <p>{{a.prixTokenProduit}} Token</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-5">

                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-secondary btn-block btn-sm">Acheter</button>
                </div>

                <div class="col-5">

                </div>
            </div>
        </div>

    </div>
</div>




<!--Page Token-->
<div class="card p-3 m-3" *ngIf="visibleTokens">
    <div class="md-form">
        <h3 class="alignement">Tokens :</h3>
        <div class="card p-3 m-3">
            <div class="md-form">
                <p>Montant en tokens :</p>
                <p>Montant en euros :</p>
            </div>
        </div>
    </div>
</div>