body {
    background-image: url(https://img.freepik.com/vecteurs-libre/illustration-concept-exercices-etirement_114360-8922.jpg?w=996&t=st=1671233382~exp=1671233982~hmac=04c3c08f6be3e5d83ffd96e77a45d3799da4ce61237bcfb9cd91fdb1d9bf9adb);
    background-repeat: no-repeat;

    background-size: 40% 40%;
    background-position: 11px;





}

.formulaireConnexion {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 20px #FEA82F;

}

#titre {
    text-align: center;
    font-size: 85px;
    font-family: 'Zen Dots', cursive;
    color: black;
}

.btnPrincipal {
    background-color: #FFC288 !important;
}

#cardTitre {
    color: #ff7b23e5;
    background-color: #ff7b23e5;

}