/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

HEAD html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
    background-image: linear-gradient(to top left, #e7684c86, #ffc47175, #ffc40065);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}




input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

label {
    display: block;
    padding: 5px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}

input[type=checkbox]:checked~.dark_theme {
    color: rgb(0, 0, 0);
}